img{
    width: 100%;
    display: block;
  }
  


  @keyframes dongdong {
    from{
        transform:translateY(0)
    }
    to{
        transform:translateY(-30px)
    }
}




  body {
    overflow: hidden;
    /* border-style: none; */
  }



  

  
  .ps_product{
    position: absolute;
    left: 50%;
    top: 3.4%;
    translate: -50% 0%;
    width: 80vw;
    animation: dongdong 1.8s infinite alternate;
  
    img{
      width: 100%;  /* 부모 요소 너비에 맞게 이미지 크기 조정 */
    }
  }



  .section01{
    height: 100%;
    background-color: black;
  }

  .section01_container .bg_full {
    position: relative;
  
    img {
      width: 100%;
    }
  }


  .section01_window01{
    position: absolute;
    top: 40.5vw;
    right: 71.4vw;
  
    img{
      width: 16vw;
    }
  }

  .section01_window02{
    position: absolute;
    top: 80.8vw;
    right: 8vw;
  
    img{
      width: 28vw;
    }
  }

  .section01_img1{
    position: absolute;
    top: 90.3vw;
    right: 20.3vw;
  
    img{
      width: 8.5vw;
    }
  }

  .section01_img2{
    position: absolute;
    top: 90.3vw;
    right: 11vw;
  
    img{
      width: 8.5vw;
    }
  }



  .section02{
    position: relative;
    height: 100%;
  }

.section02_discovery{
  position: absolute;
  top: 51.2vw;
  right: 59vw;
    
  img{
    width: 11.5vw;
  }
}


.section03{
  position: relative;
  height: 100%;
}

.section03_folder01{
  position: absolute;
  top: 34.7vw;
  right: 68.2vw;
    
  img{
    width: 11.5vw;
  }
}

.section03_folder02{
  position: absolute;
  top: 24.1vw;
  left: 73vw;
    
  img{
    width: 11.5vw;
  }
}

.section03_folder03{
  position: absolute;
  top: 63.6vw;
  right: 64vw;
    
  img{
    width: 11.5vw;
  }
}

.section03_folder04{
  position: absolute;
  top: 56.4vw;
  left: 63.4vw;
    
  img{
    width: 11.5vw;
  }
}

.section03_folder05{
  position: absolute;
  top: 57.4vw;
  right: 22.6vw;
    
  img{
    width: 13vw;
  }
}

.section03_folder06{
  position: absolute;
  top: 31.4vw;
  left: -3.2vw;
    
  img{
    width: 11.5vw;
  }
}

.section03_folder07{
  position: absolute;
  top: 38.6vw;
  right: 7.3vw;
    
  img{
    width: 11.5vw;
  }
}

.section03_folder08{
  position: absolute;
  top: 62.6vw;
  right: -4.7vw;
    
  img{
    width: 11.5vw;
  }
}

.section03_folder09{
  position: absolute;
  top: 69.7vw;
  left: 10vw;
    
  img{
    width: 11.5vw;
  }
}

.section03_folder10{
  position: absolute;
  bottom: 0vw;
  right: 11.2vw;
    
  img{
    width: 11.5vw;
  }
}


.section05{
  position: relative;
  height: 100%;
}


.section05_img1{
  position: absolute;
  left: 24.8vw;
  top: 80.3vw;
  width: 0;
  height: 10vw;
  overflow: hidden;

  img{
    width: 19vw;
  }
}


.section05_img2{
  position: absolute;
  left: 24.8vw;
  top: 100vw;
  width: 0;
  height: 10vw;
  overflow: hidden;

  img{
    width: 19vw;
  }
}


.section05_img3{
  position: absolute;
  left: 24.8vw;
  top: 135vw;
  width: 0;
  height: 10vw;
  overflow: hidden;

  img{
    width: 19vw;
  }
}


.section05_img4{
  position: absolute;
  left: 24.8vw;
  bottom: 25.3vw;
  width: 0;
  height: 10vw;
  overflow: hidden;

  img{
    width: 19vw;
  }
}


.section06{
  position: relative;
  height: 100%;
}

.section06_window01{
  position: absolute;
  top: 62.8vw;
  right: 70.2vw;

  img{
    width: 16.1vw;
  }
}

.section06_window02{
  position: absolute;
  top: 111.3vw;
  right: 8.7vw;

  img{
    width: 20.4vw;
  }
}


.section07{
  position: relative;
  height: 100%;
}

.section07_pad01{
  position: absolute;
  top: -7vw;
  right: -21vw;

  img{
    width: 72vw;
  }
}

.section07_pad02{
  position: absolute;
  top: 44.5vw;
  left: -20vw;

  img{
    width: 82.4vw;
  }
}

.section07_pad03{
  position: absolute;
  top: 80.8vw;
  right: -32.6vw;
  z-index: 10;

  img{
    width: 88.6vw;
  }
}

.section07_box{
  position: absolute;
  top: 87.2vw;
  left: 30.6vw;

  img{
    width: 29.6vw;
  }
}


.section08{
  position: relative;
  height: 100%;
}

.section08_text01{
  position: absolute;
  top: 30.8vw;
  right: 21.8vw;

  img{
    width: 31.6vw;
  }
}

.section08_t_container01{
  position: absolute;
  top: 110.5vw;
  left: 49.3vw;

  img{
    width: 20.6vw;
  }
}

.section08_t_container02{
  position: absolute;
  top: 112.1vw;
  left: 49.3vw;

  img{
    width: 7.6vw;
  }
}

.section08_t_container03{
  position: absolute;
  top: 113.5vw;
  left: 49.3vw;

  img{
    width: 22.9vw;
  }
}

.section08_t_container04{
  position: absolute;
  top: 116.4vw;
  left: 49.3vw;

  img{
    width: 20.4vw;
  }
}

.section08_t_container05{
  position: absolute;
  top: 118vw;
  left: 49.3vw;

  img{
    width: 8.5vw;
  }
}

.section08_t_container06{
  position: absolute;
  top: 119.4vw;
  left: 49.3vw;

  img{
    width: 19.2vw;
  }
}


.section08_text02{
  position: absolute;
  bottom: 69.1vw;
  left: 20.7vw;

  img{
    width: 33.6vw;
  }
}


