/* img{
    width: 100%;
  }
   */


  body {
    overflow: hidden;
    border-style: none;
  }


  
  .bg_full img {
    position: relative;
    width: 100%;  /* 부모 요소 너비에 맞게 이미지 크기 조정 */
    height: 100%; /* 부모 요소 높이에 맞게 이미지 크기 조정 */

  }
  

  

  @keyframes dongdong {
    from{
        transform:translateY(0)
    }
    to{
        transform:translateY(-30px)
    }
}


  .ps_product{
    position: absolute;
    left: 50%;
    top: 3.4%;
    translate: -50% 0%;
    width: 80vw;
    animation: dongdong 1.8s infinite alternate;
  
    img{
      width: 100%;  /* 부모 요소 너비에 맞게 이미지 크기 조정 */
      height: auto; /* 부모 요소 높이에 맞게 이미지 크기 조정 */
    }
  }



  .section01{
    position: relative;
  }

  .section01_window01{
    position: absolute;
    top: 40.5vw;
    right: 71.4vw;
  
    img{
      width: 16vw;
    }
  }

  .section01_window02{
    position: absolute;
    top: 80.8vw;
    right: 8vw;
  
    img{
      width: 28vw;
    }
  }

  .section01_img1{
    position: absolute;
    top: 90.3vw;
    right: 20.3vw;
  
    img{
      width: 8.5vw;
    }
  }

  .section01_img2{
    position: absolute;
    top: 90.3vw;
    right: 11vw;
  
    img{
      width: 8.5vw;
    }
  }



  .section02{
    position: relative;
  }

.section02_discovery{
  position: absolute;
  top: 51.2vw;
  right: 59vw;
    
  img{
    width: 11.5vw;
  }
}


.section03{
  position: relative;
}

.section03_folder01{
  position: absolute;
  top: 34.7vw;
  right: 68.2vw;
    
  img{
    width: 11.5vw;
  }
}

.section03_folder02{
  position: absolute;
  top: 24.1vw;
  left: 73vw;
    
  img{
    width: 11.5vw;
  }
}

.section03_folder03{
  position: absolute;
  top: 63.6vw;
  right: 64vw;
    
  img{
    width: 11.5vw;
  }
}

.section03_folder04{
  position: absolute;
  top: 56.4vw;
  left: 63.4vw;
    
  img{
    width: 11.5vw;
  }
}

.section03_folder05{
  position: absolute;
  top: 57.4vw;
  right: 22.6vw;
    
  img{
    width: 13vw;
  }
}

.section03_folder06{
  position: absolute;
  top: 31.4vw;
  left: -3.2vw;
    
  img{
    width: 11.5vw;
  }
}

.section03_folder07{
  position: absolute;
  top: 38.6vw;
  right: 7.3vw;
    
  img{
    width: 11.5vw;
  }
}

.section03_folder08{
  position: absolute;
  top: 62.6vw;
  right: -4.7vw;
    
  img{
    width: 11.5vw;
  }
}

.section03_folder09{
  position: absolute;
  top: 69.7vw;
  left: 10vw;
    
  img{
    width: 11.5vw;
  }
}

.section03_folder10{
  position: absolute;
  bottom: 0vw;
  right: 11.2vw;
    
  img{
    width: 11.5vw;
  }
}







.line_drawing{
  position: absolute;
  left: 65%;
  top: 8.3%;
  width: 14vw;
  height: 0;
  overflow: hidden;

  img{
    width: 100%;
    height: auto;
  }
}



.circle_text01{
  position: absolute;
  left: 86vw;
  top: 124vw;
  translate: -50% 0%;
  width: 62.6vw;
  height: 27vw;

  img{
    width: 16vw;
    height: auto;
  }
}




.section03{
  position: relative;
}

.section03_text_container{
  position: absolute;
  left: 30.5vw;
  top: 98vw;

  img{
    height: 1vw;
    padding-bottom: 3px;
  }
}

.section04{
  position: relative;
}

.section04_motion{
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
  height: 0;
  overflow: hidden;

  img{
    width: 100vw;
  }
}


.section06{
  position: relative;
}




.section06_text01{
  position: absolute;
  top: 7vw;
  left: -65.7vw;

  img{
    width: 134vw;
  }
}



.section06_text02{
  position: absolute;
  top: 19.1vw;
  right: -22.8vw;

  img{
    width: 99vw;
  }
}

